In [1]:
import os
os.environ["CUDA_VISIBLE_DEVICES"] = "-1"  # Force CPU usage
os.environ["TF_CPP_MIN_LOG_LEVEL"] = "2"  # Suppress INFO and WARNING messages

import tensorflow as tf
print("TensorFlow running on:", "GPU" if tf.config.list_physical_devices('GPU') else "CPU")

TensorFlow running on: CPU

In [2]:
!pip install pyspark

Requirement already satisfied: pyspark in /opt/conda/envs/tensorflow/lib/python3.10/site-packages (3.5.4)
Requirement already satisfied: py4j==0.10.9.7 in /opt/conda/envs/tensorflow/lib/python3.10/site-packages (from pyspark) (0.10.9.7)

In [3]:
from google.cloud import bigquery
from google.cloud import storage
import tensorflow as tf
tf.config.threading.set_inter_op_parallelism_threads(4)  # Controls operations running in parallel
tf.config.threading.set_intra_op_parallelism_threads(4)  # Controls parallelism within individual operations
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, to_date
from google.cloud import bigquery
from pyspark.ml.feature import VectorAssembler, StandardScaler, OneHotEncoder, PCA
from pyspark.ml.regression import RandomForestRegressor, LinearRegression, DecisionTreeRegressor, GBTRegressor
from pyspark.ml.classification import LogisticRegression, RandomForestClassifier, DecisionTreeClassifier
from pyspark.ml.evaluation import RegressionEvaluator, MulticlassClassificationEvaluator
from pyspark.ml.feature import StringIndexer, Imputer
from pyspark.ml import Pipeline
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore") # Suppress all warnings
pd.options.display.float_format = '{:.2f}'.format

In [4]:
# Initialize BigQuery and Storage clients
storage_client = storage.Client()
client = bigquery.Client()
storage_client = storage.Client()
print("Authentication successful!")

Authentication successful!

In [5]:
spark = SparkSession.builder \
    .appName("BigQueryLoader") \
    .config("spark.jars", "/opt/spark/jars/spark-bigquery-latest_2.12.jar") \
    .getOrCreate()

25/02/04 09:33:27 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [6]:
print(spark.sparkContext._jsc.hadoopConfiguration().get("spark.jars"))

None

In [16]:
from google.cloud import bigquery
from pyspark.sql import SparkSession

# Define GCP details
project_id = "big-data-engin"  # Replace with your actual GCP project ID
dataset_id = "Sample1"
table_id = "airplane2"

# Full table ID for BigQuery
full_table_id = f"{project_id}.{dataset_id}.{table_id}"

# Define GCS URI (Google Cloud Storage path)
gcs_uri = "gs://samplebucketvrs/Intelligence Analytics/og4/2019.csv"  # Replace with actual GCS path

# Initialize BigQuery client
client = bigquery.Client()

# Configure BigQuery job
job_config = bigquery.LoadJobConfig(
    source_format=bigquery.SourceFormat.CSV,
    skip_leading_rows=1,  # Skip the header row
    autodetect=True,  # Enable schema autodetection
    write_disposition=bigquery.WriteDisposition.WRITE_APPEND  # Append data if table exists
)

# Load data from GCS into BigQuery
load_job = client.load_table_from_uri(gcs_uri, full_table_id, job_config=job_config)

# Wait for job to complete before proceeding
load_job.result()
print(f"Loaded CSV file into {full_table_id} successfully.")

# Initialize Spark session (if running in a PySpark environment)
spark = SparkSession.builder \
    .appName("BigQueryLoad") \
    .getOrCreate()

# Load data from BigQuery into a PySpark DataFrame
df = spark.read \
    .format("bigquery") \
    .option("table", full_table_id) \
    .load()

# Show schema and first few rows
df.printSchema()
#df.show(5)
df.limit(5).toPandas()

Loaded CSV file into big-data-engin.Sample1.airplane2 successfully.

25/02/04 09:48:31 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

root
 |-- FL_DATE: date (nullable = true)
 |-- OP_UNIQUE_CARRIER: string (nullable = true)
 |-- OP_CARRIER_FL_NUM: long (nullable = true)
 |-- ORIGIN: string (nullable = true)
 |-- DEST: string (nullable = true)
 |-- DEP_TIME: long (nullable = true)
 |-- DEP_DELAY: double (nullable = true)
 |-- TAXI_OUT: double (nullable = true)
 |-- WHEELS_OFF: long (nullable = true)
 |-- WHEELS_ON: long (nullable = true)
 |-- TAXI_IN: double (nullable = true)
 |-- ARR_TIME: long (nullable = true)
 |-- ARR_DELAY: double (nullable = true)
 |-- AIR_TIME: double (nullable = true)
 |-- DISTANCE: double (nullable = true)
 |-- CARRIER_DELAY: double (nullable = true)
 |-- WEATHER_DELAY: double (nullable = true)
 |-- NAS_DELAY: double (nullable = true)
 |-- SECURITY_DELAY: double (nullable = true)
 |-- LATE_AIRCRAFT_DELAY: double (nullable = true)
 |-- string_field_20: string (nullable = true)

,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,WHEELS_ON,...,ARR_TIME,ARR_DELAY,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,string_field_20
0,2019-03-05,AS,65,WRG,PSG,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,31.00,NaN,NaN,NaN,NaN,NaN,None
1,2019-05-05,AS,65,WRG,PSG,1028.00,-17.00,5.00,1033.00,1042.00,...,1045.00,-25.00,9.00,31.00,NaN,NaN,NaN,NaN,NaN,None
2,2019-01-14,AS,64,PSG,WRG,1504.00,-16.00,4.00,1508.00,1517.00,...,1521.00,-24.00,9.00,31.00,NaN,NaN,NaN,NaN,NaN,None
3,2019-07-06,AS,65,WRG,PSG,1008.00,-22.00,8.00,1016.00,1025.00,...,1029.00,-21.00,9.00,31.00,NaN,NaN,NaN,NaN,NaN,None
4,2019-05-13,AS,65,WRG,PSG,1031.00,-14.00,4.00,1035.00,1045.00,...,1047.00,-18.00,10.00,31.00,NaN,NaN,NaN,NaN,NaN,None

In [8]:
df.describe()
columns_to_drop = [col for col in df.columns if col.lower() == 'id']

if columns_to_drop:
    df = df.drop(columns=columns_to_drop)
df = df.withColumn('FL_DATE', df['FL_DATE'].cast('timestamp'))

In [9]:
from pyspark.sql.types import BooleanType, NumericType, StringType, DateType, TimestampType
from pyspark.sql import SparkSession

def identify_column_type(df):
    column_types = []

    for field in df.schema.fields:  # Proper way to get schema fields in PySpark
        col_name = field.name
        dtype = field.dataType

        if isinstance(dtype, BooleanType):
            col_type = "Boolean"
        elif isinstance(dtype, NumericType):
            col_type = "Numerical"
        elif isinstance(dtype, StringType):
            col_type = "Categorical"
        elif isinstance(dtype, (DateType, TimestampType)):
            col_type = "Datetime"
        else:
            col_type = "Unknown"
        
        column_types.append((col_name, col_type))

    # Convert list of tuples into a Spark DataFrame
    schema = ["Column", "Type"]
    column_types_df = spark.createDataFrame(column_types, schema=schema)
    
    return column_types_df

# Identify column types
column_types_df = identify_column_type(df)
column_types_df.show()

+-------------------+-----------+
|             Column|       Type|
+-------------------+-----------+
|            FL_DATE|   Datetime|
|  OP_UNIQUE_CARRIER|Categorical|
|  OP_CARRIER_FL_NUM|  Numerical|
|             ORIGIN|Categorical|
|               DEST|Categorical|
|           DEP_TIME|  Numerical|
|          DEP_DELAY|  Numerical|
|           TAXI_OUT|  Numerical|
|         WHEELS_OFF|  Numerical|
|          WHEELS_ON|  Numerical|
|            TAXI_IN|  Numerical|
|           ARR_TIME|  Numerical|
|          ARR_DELAY|  Numerical|
|           AIR_TIME|  Numerical|
|           DISTANCE|  Numerical|
|      CARRIER_DELAY|  Numerical|
|      WEATHER_DELAY|  Numerical|
|          NAS_DELAY|  Numerical|
|     SECURITY_DELAY|  Numerical|
|LATE_AIRCRAFT_DELAY|  Numerical|
+-------------------+-----------+
only showing top 20 rows

In [10]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, mean, stddev, when, count, expr
from pyspark.sql.window import Window

# Initialize Spark Session
spark = SparkSession.builder.appName("OutlierDetection").getOrCreate()

def detect_outliers_large(df, method="iqr", threshold=1.5):
    """
    Detect outliers in a PySpark DataFrame using IQR or Z-score.
    Returns a dictionary of outlier counts per column.
    """
    outliers = {}

    if method == "iqr":
        for col_name in df.columns:
            if df.select(col_name).schema.fields[0].dataType.simpleString() in ["int", "double", "float"]:
                # Compute Q1, Q3, and IQR using Spark SQL functions
                Q1 = df.approxQuantile(col_name, [0.25], 0.01)[0]
                Q3 = df.approxQuantile(col_name, [0.75], 0.01)[0]
                IQR = Q3 - Q1
                lower_bound = Q1 - threshold * IQR
                upper_bound = Q3 + threshold * IQR

                # Count outliers
                outlier_count = df.filter((col(col_name) < lower_bound) | (col(col_name) > upper_bound)).count()
                outliers[col_name] = outlier_count

    elif method == "zscore":
        for col_name in df.columns:
            if df.select(col_name).schema.fields[0].dataType.simpleString() in ["int", "double", "float"]:
                stats = df.select(
                    mean(col(col_name)).alias("mean"),
                    stddev(col(col_name)).alias("stddev")
                ).collect()[0]

                mean_val, std_val = stats["mean"], stats["stddev"]
                
                # Count outliers
                outlier_count = df.filter(((col(col_name) - mean_val) / std_val).abs() > threshold).count()
                outliers[col_name] = outlier_count

    else:
        raise ValueError("Method must be 'iqr' or 'zscore'.")
    
    return outliers

def calculate_outlier_percentage(outliers_dict, total_rows):
    """
    Calculate the percentage of outliers for each column.
    """
    outlier_percentage = {col: (count / total_rows) * 100 for col, count in outliers_dict.items()}
    return outlier_percentage

def clean_or_winsorize(df, outliers_dict, threshold=5):
    """
    Clean or apply Winsorization based on outlier percentage.

    Parameters:
        df (Spark DataFrame): Input DataFrame.
        outliers_dict (dict): Dictionary with outlier counts.
        threshold (int): Percentage threshold to decide action.
    
    Returns:
        Spark DataFrame: Processed DataFrame.
    """
    total_rows = df.count()
    outlier_percentage = calculate_outlier_percentage(outliers_dict, total_rows)

    for col_name, percentage in outlier_percentage.items():
        if percentage <= threshold:
            # Remove outliers
            Q1 = df.approxQuantile(col_name, [0.25], 0.01)[0]
            Q3 = df.approxQuantile(col_name, [0.75], 0.01)[0]
            IQR = Q3 - Q1
            lower_bound = Q1 - 1.5 * IQR
            upper_bound = Q3 + 1.5 * IQR

            df = df.filter((col(col_name) >= lower_bound) & (col(col_name) <= upper_bound))
            print(f"Removed {percentage:.2f}% outliers from column '{col_name}'.")
        else:
            # Apply Winsorization using percentile approximation
            lower_bound = df.approxQuantile(col_name, [0.05], 0.01)[0]
            upper_bound = df.approxQuantile(col_name, [0.95], 0.01)[0]

            df = df.withColumn(
                col_name,
                when(col(col_name) < lower_bound, lower_bound)
                .when(col(col_name) > upper_bound, upper_bound)
                .otherwise(col(col_name))
            )
            print(f"Applied Winsorization to column '{col_name}' with {percentage:.2f}% outliers.")

    return df

# Example Usage:
# Load dataset from BigQuery or CSV
# df = spark.read.format("bigquery").option("table", "your_project.your_dataset.your_table").load()
# df = spark.read.csv("your_large_dataset.csv", header=True, inferSchema=True)

total_rows = df.count()
outliers_dict = detect_outliers_large(df, method="iqr", threshold=1.5)

# Process data based on outlier percentage
df_processed = clean_or_winsorize(df, outliers_dict, threshold=5)

# Save the processed dataset
# df_processed.write.csv("cleaned_dataset.csv", header=True)

25/02/04 09:34:09 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

Applied Winsorization to column 'DEP_DELAY' with 13.41% outliers.

Removed 4.30% outliers from column 'TAXI_OUT'.

Applied Winsorization to column 'TAXI_IN' with 6.19% outliers.

Applied Winsorization to column 'ARR_DELAY' with 9.14% outliers.

Applied Winsorization to column 'AIR_TIME' with 5.31% outliers.

Applied Winsorization to column 'DISTANCE' with 5.89% outliers.

Removed 2.16% outliers from column 'CARRIER_DELAY'.

Removed 1.11% outliers from column 'WEATHER_DELAY'.

Removed 1.46% outliers from column 'NAS_DELAY'.

Removed 0.06% outliers from column 'SECURITY_DELAY'.

Removed 1.83% outliers from column 'LATE_AIRCRAFT_DELAY'.

In [12]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, countDistinct
from pyspark.sql.types import StructType, StructField, StringType, IntegerType
from pyspark.ml.feature import StringIndexer, OneHotEncoder, Imputer
from pyspark.ml import Pipeline

# Initialize Spark Session
spark = SparkSession.builder.appName("FeatureEngineering").getOrCreate()

# Compute unique counts for each column
unique_counts_df = (
    df.select([countDistinct(col(c)).alias(c) for c in df.columns])
    .toPandas()
    .melt(var_name="Column", value_name="Unique_Values")
)

# Convert Pandas DataFrame to PySpark DataFrame with explicit schema
unique_counts_spark_df = spark.createDataFrame(
    unique_counts_df,
    schema=StructType([
        StructField("Column", StringType(), True),
        StructField("Unique_Values", IntegerType(), True)
    ])
)

# Ensure 'column_types_df' exists and join with unique counts
if "column_types_df" in locals():
    column_info = column_types_df.join(unique_counts_spark_df, on="Column")
else:
    raise ValueError("column_types_df is not defined. Ensure you run 'identify_column_type(df)' first.")

# Initialize transformation lists
indexers, encoders, imputers = [], [], []

# Process each column's metadata
for row in column_info.rdd.collect():  
    col_name = row["Column"]
    col_type = row["Type"]
    unique_values = row["Unique_Values"]

    if col_type in ["Categorical", "Boolean"]:
        if unique_values <= 1:
            print(f"Skipping column '{col_name}' (only {unique_values} unique value).")
            continue
        
        indexer = StringIndexer(inputCol=col_name, outputCol=f"{col_name}_index", handleInvalid="keep")
        indexers.append(indexer)
        
        if unique_values <= 10:
            encoder = OneHotEncoder(inputCol=f"{col_name}_index", outputCol=f"{col_name}_encoded")
            encoders.append(encoder)

    elif col_type == "Numerical":
        imputer = Imputer(inputCols=[col_name], outputCols=[col_name + "_imputed"], strategy="median")
        imputers.append(imputer)

# Create and apply the transformation pipeline
pipeline = Pipeline(stages=indexers + encoders + imputers)
df_transformed = pipeline.fit(df).transform(df)

# Show transformed dataset
#df_transformed.show()

25/02/04 09:39:35 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

Skipping column 'string_field_20' (only 0 unique value).

In [15]:
df_transformed.limit(5).toPandas()

,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,WHEELS_ON,...,DISTANCE_imputed,LATE_AIRCRAFT_DELAY_imputed,NAS_DELAY_imputed,OP_CARRIER_FL_NUM_imputed,SECURITY_DELAY_imputed,TAXI_IN_imputed,TAXI_OUT_imputed,WEATHER_DELAY_imputed,WHEELS_OFF_imputed,WHEELS_ON_imputed
0,2019-03-05,AS,65,WRG,PSG,NaN,NaN,NaN,NaN,NaN,...,31.00,3.00,2.00,65,0.00,6.00,15.00,0.00,1341,1501
1,2019-05-05,AS,65,WRG,PSG,1028.00,-17.00,5.00,1033.00,1042.00,...,31.00,3.00,2.00,65,0.00,3.00,5.00,0.00,1033,1042
2,2019-01-14,AS,64,PSG,WRG,1504.00,-16.00,4.00,1508.00,1517.00,...,31.00,3.00,2.00,64,0.00,4.00,4.00,0.00,1508,1517
3,2019-07-06,AS,65,WRG,PSG,1008.00,-22.00,8.00,1016.00,1025.00,...,31.00,3.00,2.00,65,0.00,4.00,8.00,0.00,1016,1025
4,2019-05-13,AS,65,WRG,PSG,1031.00,-14.00,4.00,1035.00,1045.00,...,31.00,3.00,2.00,65,0.00,2.00,4.00,0.00,1035,1045

In [17]:
# ✅ Step 11: Replace Original Columns with Imputed Versions
for row in column_info.collect():
    col_name = row["Column"]
    col_type = row["Type"]
    
    if col_type == "Numerical":
        df_transformed = df_transformed.drop(col_name).withColumnRenamed(f"{col_name}_imputed", col_name)

# ✅ Step 12: Verify That No Nulls Remain
df_transformed.select(
    [sum(col(c).isNull().cast("int")).alias(c) for c in df_transformed.columns]
).show()

PySparkTypeError: [NOT_ITERABLE] Column is not iterable.